.card {
    margin-top: 15px;
    box-shadow: 0px 1px 3px 0px !important;
    transition: box-shadow 0.2s;
    padding: 10px;
}

.card-portfolio {
    background-color: #eee;
}

.card-blog {
    background-color: #e6e8ed;
}

.card-profile {
    background-color: #eff5ff;
}

.card:hover {
    box-shadow: 0px 1px 6px 0px !important; 
}

.center-text {
    text-align: center;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: inherit;
    text-decoration: none !important;
}

.row-margin {
    margin-left: 20px;
    margin-right: 20px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}

ul {
    padding-left: 10px;
    padding-right: 20px;
}

.img-vertical {
    transform: translateY(50%);
}

.img-center {
    margin-top: 25px;
    margin-left: 8px;
}

.separator {
    height: 1px;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #ccc;
}

.heading {
    text-align: center;
    color: #777;
}

.item {
    padding-left: 25px;
    padding-right: 25px;
}
